/* Start Variables */
:root {
  --main-color: #526f37;
  --second-color: #777;
  --background-color-section: #f6f6f6;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  direction: rtl;
  font-family: "Almarai", sans-serif;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-button {
  background-color: #777;
}
::-webkit-scrollbar-thumb {
  background-color: #526f37;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.bold {
  font-weight: bold;
}
/* End Global Rules */
/* Start Header */
header {
  background-color: #77777758;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  position: relative;
}
header .logo {
  font-family: "Aref Ruqaa", serif;
  color: white;
  font-weight: 900;
  font-size: 25px;
}
@media (max-width: 767px) {
  header .logo {
    font-size: 16px;
  }
}
header nav {
  align-self: normal;
  display: flex;
  align-items: center;
}
header nav i {
  color: white;
  font-size: 20px;
  visibility: hidden;
}
@media (max-width: 767px) {
  header nav i {
    visibility: visible;
  }
}
header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav i:hover + ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #77777794;
  }
}
header ul li {
  height: 100%;
  position: relative;
}
@media (max-width: 767px) {
  header ul li:nth-last-of-type(2) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}
header ul li a {
  color: #ddd;
  font-weight: 600;
  display: block;
  padding: 15px 30px;
  transition: 0.3s;
  height: 100%;
  display: flex;
  align-items: center;
}
header ul li:hover a {
  color: white;
  background-color: var(--second-color);
}
/* End Header */
/* Start Landing */
.landing {
  height: 100vh;
  position: relative;
}
.landing video {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
.landing h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  background-color: #777777a1;
  padding: 40px 20px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .landing h1 {
    white-space: wrap;
    font-size: 40px;
    text-align: center;
  }
}
/* End Landing */
/* Start Articles */
.articles {
  padding: 80px 0;
}
.articles h2 {
  font-family: "Milan Display Swashes";
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: #eee;
  padding: 15px;
  font-size: 80px;
  font-weight: 900;
}
.articles .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.articles article {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}
.articles article img {
  width: 100%;
  object-fit: contain;
}
.articles article .info {
  min-height: 150px;
  padding: 0 20px 10px;
  border-bottom: 1px solid #ddd;
}
.articles article h3 {
  font-size: 17px;
}
.articles article p {
  font-size: 14px;
  color: var(--second-color);
  line-height: 1.8;
  text-align: justify;
}
.articles article a {
  display: block;
  width: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  color: var(--second-color);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
  position: relative;
  font-weight: bold;
  font-size: 14px;
}
.articles article a i {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: -25px;
  animation: move 0.5s infinite;
}
.articles article a:hover {
  color: var(--main-color);
}
.articles article a:hover i {
  opacity: 1;
}
@keyframes move {
  0%,
  100% {
    left: -25px;
  }
  50% {
    left: -30px;
  }
}
/* End Articles */
/* Start Footer */
footer {
  background-color: var(--main-color);
}
footer .container {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .container div {
  font-family: "Aref Ruqaa", serif;
  font-size: 25px;
}
footer .container a {
  font-size: 25px;
  color: white;
}
/* End Footer */
/* Start Articles */
.h-articles {
  background-color: #526f37;
  position: unset;
}
.article-1 {
  padding: 0 10px;
}
.article-1 p {
  font-size: 20px;
  text-align: justify;
  text-indent: 15px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.article-1 p .warning {
  background-color: rgba(255, 0, 0, 0.055);
  position: relative;
  text-indent: 30px;
  padding: 20px;
  border-radius: 10px;
}
.article-1 p .warning::before {
  content: "\f071";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: -10px;
  position: absolute;
  animation-name: warning;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes warning {
  0%,
  100% {
    color: transparent;
  }
  50% {
    color: red;
  }
}
.article-1 p .stethoscope {
  position: relative;
  text-indent: 30px;
  background-color: #2195f322;
  border-radius: 10px;
  padding: 20px;
}
.article-1 p .stethoscope::before {
  content: "\f0f1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: -10px;
  position: absolute;
  animation-name: stethoscope;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  top: 15px;
  color: #2195f3fa;
}
@keyframes stethoscope {
  0%,
  100% {
    top: 15px;
  }
  50% {
    top: 20px;
  }
}
/* End Articles */
